*{
    margin: 0;
    padding: 0;
}

img{
    width: 25px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar{
    display: grid;
    grid-template-rows: 100px;
    grid-auto-rows: 50px;
    background-color: #ffe600;
}

.sidebar p, .sidebar img{
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.side-tasks, .side-title{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}


.side-title img{
    width: 50px;
    display: block;
    margin: 0 auto;
}

.side-title p{
    font-size: larger;
}

.side-tasks img{
    width: 25px;
    display: block;
    margin: 0 auto;
}

.right{
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.greet-action{
    display: grid;
    grid-template-columns: 10% 40% 50%;
    align-items: center;
}

.nav-searchbar{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 1fr 3fr;
    margin: 15px 0;
    justify-content: center;
    align-items: center;
}

input{
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: rgb(236, 236, 236);
    padding: 0 15px;
}

input:focus{
    outline: none;
}

.header{
    margin: 15px;
}

.header img{
    border-radius: 50%;
}

.greet-action img{
    width: 50%;
    justify-self: center;
}

.greeting{
    display: grid;
    grid-template-rows: 50% 50%;
    align-items: center;
}

.greeting p{
    font-size: 14px;
}

.greeting span{
    font-size: 1.25em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.create{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    width: 20%;
    height: 30px;
    border-radius: 25px;
    border: 1px solid black;
    background-color: #ffe600;
    font-weight: bold;
}

img[alt="pfp"]{
    width: 3vw;
}

.nav-searchbar span{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content{
    background-color: rgb(226, 226, 231);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
    padding: 30px 30px;
}

.main-content > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.content-box{
    border-left: 15px solid #ffe600;
    border-radius: 15px;
    padding:15px;
    background-color: #ffffff;
    position: relative;
    padding-bottom: 40px;
}

.content-box img{
    position: absolute;
    bottom: 10px;
}

.fork{
    right: 10px;
}

.eye{
    right: 50px;
}

.star{
    right: 90px;
}

.announcements{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 25px;
    background-color: #ffffff;
}

.announce-title{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.announce-desc{
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr{
    margin: 15px 0;
}

.title{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.desc{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.announce-desc, .desc{
    color: rgb(75, 75, 75);
}

.trend{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 25px 0;
}

.trend-box{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 4fr;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 25px;
    gap: 25px;
}

.trend-box img{
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.trend-content{
    margin: auto 0;
}

.trend-subtitle{
    color:rgb(75, 75, 75);
}