*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebar{
    display: grid;
    grid-template-rows: 100px;
    grid-auto-rows: 50px;
    background-color: #ffe600;
}

.sidebar p, .sidebar img{
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.side-tasks, .side-title{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}


.side-title img{
    width: 50px;
    display: block;
    margin: 0 auto;
}

.side-title p{
    font-size: larger;
}

.side-tasks img{
    width: 25px;
    display: block;
    margin: 0 auto;
}